<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618775203284-ulnap6aqmjc6rkk0thnd8trumbtamokg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618775203284-ulnap6aqmjc6rkk0thnd8trumbtamokg</string>
	<key>API_KEY</key>
	<string>AIzaSyDxVDaPdvuHPbUQuDdxIei35CYEl813ruU</string>
	<key>GCM_SENDER_ID</key>
	<string>618775203284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewyanovich.udemichatapp</string>
	<key>PROJECT_ID</key>
	<string>udemi-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>udemi-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618775203284:ios:f74fd46d453a7422c0da41</string>
</dict>
</plist>